.todoItemContainer{
    margin: 10px 0;
    
}

.todoItemRow{
    height: 100%;
    border: none;
    padding: 10px;
    background-color: #42d0e3;
}

.todoName{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    word-break: break-word;
}

.todoDate{
    text-align: center;
    font-size: 18px;
}

.buttonContainer{
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
    border: none;
    height: 36px;
}

.icon{
    cursor: pointer;
    font-size: 1.5rem;
}


