.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #887d7d;
}

.todoContainer{
    border-radius: 24px;
    background-color: #e99595;
    width: 60%;
    padding: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}